.message {
  padding: 20px;
  margin: 10px;
  width: 600px;
  border: 1px solid #7a7878;
  border-radius: 3px;
  background-color: #fff;
}

.message>p {
  color: #121111;
  font-size: 1rem;
}

.list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.chatBox {
  display: flex;
  flex-direction: column;
}

.allChat {
  display: flex;
  flex-direction: row;
}

.input {
  width: calc(100% - 80px);
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80px;
}

.divForm {
  display: flex;
  flex-direction: row;
}